target/
*.jar
*.war
*.ear


!.mvn/wrapper/maven-wrapper.jar


*.log


.vscode/          
.idea/            
*.iml            
.classpath        
.project          
.settings/        


*.tmp
*.bak
*.swp

/src/main/resources/application.properties